name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-profile-3d-contrib:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: yoshi389111/github-profile-3d-contrib@v0.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          MAX_REPOS: 1000

      - name: Commit & Push
        run: |
          git config user.name CaffeeLakeBot
          git config user.email PascalCoffeeLake+Bot@gmail.com
          git add -A .
          git commit -m "generate-github-profile-3d-contrib"
          git push
